<div class="form-left-col">
    <label>Id:</label>
    <input id="tenantId" name="id" type="text" value="<%= id %>" disabled />

    <label>FirstName:</label>
    <input type="text" id="firstName" name="firstName" value="<%= firstName %>" required/>

    <label>Surname:</label>
    <input type="text" id="surname" name="surname" value="<%= surname %>"/>

    <label>Gender:</label>
    <input type="text" id="gender" name="gender" value="<%= gender %>"/>

    <label>Age:</label>
    <input type="text" id="age" name="age"  value="<%= age %>"/>

    <label>PhoneNumber:</label>
    <input type="text" id="phoneNumber" name="phonenumber"  value="<%= phonenumber %>"/>

    <button class="save">Save</button>
    <button class="delete">Delete</button>
</div>

<div class="form-right-col">
    <img height="300" src="images/<%= picture %>"/>
    <label>Notes:</label>
    <textarea id="description" name="description"><%= description %></textarea>
</div>